= form_for @transaction do |f|
  - if @transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - @transaction.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :fund
    = f.select :fund_id, f.object.group.funds.map {|fund| [fund.name, fund.id]}
  .field
    = f.label :account
    = f.select :account_id, f.object.group.accounts.map {|account| [account.name, account.id]}
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :transaction_date
    = f.text_field :transaction_date
  .field
    = f.label :transaction_type
    = f.select :transaction_type, Transaction.transaction_types.keys
  .actions
    = f.submit 'Save'
