%h1 Listing transactions

%table
  %thead
    %tr
      %th Fund
      %th Account
      %th Amount
      %th Description
      %th Transaction date
      %th
      %th
      %th

  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.fund
        %td= transaction.account
        %td= transaction.amount
        %td= transaction.description
        %td= transaction.transaction_date
        %td= link_to 'Show', transaction
        %td= link_to 'Edit', edit_transaction_path(transaction)
        %td= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Transaction', new_transaction_path
