%p#notice= notice

%p
  %b Fund:
  = @transaction.fund.name
%p
  %b Account:
  = @transaction.account.name
%p
  %b Amount:
  = @transaction.amount
%p
  %b Description:
  = @transaction.description
%p
  %b Transaction date:
  = @transaction.transaction_date
%p
  %b Transaction type:
  = @transaction.transaction_type

= link_to 'Edit', edit_transaction_path(@transaction)
\|
= link_to 'Back', transactions_path
