= form_for @fund do |f|
  - if @fund.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fund.errors.count, "error")} prohibited this fund from being saved:"
      %ul
        - @fund.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :account_id, "Account"
    = f.select :account_id, f.object.group.accounts.map { |a| [ a.name, a.id ] }
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :goal_amount
    = f.text_field :goal_amount
  .field
    = f.label :goal_date
    = f.text_field :goal_date
  .field
    = f.label :recurring_interval
    = f.number_field :recurring_interval
  .actions
    = f.submit 'Save'
