%h1 Listing funds

%table
  %thead
    %tr
      %th Account
      %th Group
      %th Goal amount
      %th Goal date
      %th Recurring interval
      %th
      %th
      %th

  %tbody
    - @funds.each do |fund|
      %tr
        %td= fund.account
        %td= fund.group
        %td= fund.goal_amount
        %td= fund.goal_date
        %td= fund.recurring_interval
        %td= link_to 'Show', fund
        %td= link_to 'Edit', edit_fund_path(fund)
        %td= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Fund', new_fund_path
