%p#notice= notice

%p
  %b Name:
  = @fund.name
%p
  %b Account:
  = @fund.account.name
%p
  %b Description:
  = @fund.description
%p
  %b Goal amount:
  = @fund.goal_amount
%p
  %b Goal date:
  = @fund.goal_date
%p
  %b Recurring interval:
  = @fund.recurring_interval

= link_to 'Edit', edit_fund_path(@fund)
\|
= link_to 'Back', funds_path
